@charset "UTF-8";
@font-face {
    font-family:'fonte';
    src: url('C:\Users\Hemilles\Documents\treinamento html-css\salao\fontes\Quicksand_Light_Oblique.otf') format('opentype');
}
*{
    padding: 0px;
    margin: 0px
}
;:root{
    --cor1:#FBFAFF;
    --cor2:#AB5B6D;
    --cor3:#580A2E;
    --cor4:#34051B;
    --cor5:#959595;
}
div#logo{
    padding-top: 30px;
    color: #AB5B6D;
    font-family: 'fonte',sans-serif

}
body{
    min-width: 600px;
}
body nav{
    background-color: #AB5B6D;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cor1);
    height: 50px;
    text-decoration: none;
}
section.paiservico{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
div#filho{

}
.nav{
    
}
nav > a {
    color:#FBFAFF;
    text-decoration: none;
    background-color: #AB5B6D;
    padding: 10px;
    border-radius: 30px;
    
}
nav > a:hover{
    color: #AB5B6D;
    background-color: #fff;
    transition: 0.5s;
}
header{
    display: block;
    height: 600px;
    width: 70%;
    margin: auto;
    background-image: url('imagens/designer-de-sobrancelhas.webp');
    background-position: left  ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header p{
    font-size: 50px;
}
header ul{
    font-size: 20px;
    padding: 10px 30px ;
}
div#header{
    color: #AB5B6D;
    position: absolute;
    background-color:#9595951c;
    width: 400px;
    height: 300px;
    left: 5%;
    right: 50%;
    padding: 30px;
    margin-top: 100px;
}
section{
    background-image: linear-gradient(to left,#DB8172,#580A2E );
    width: 70%;
    height: 400px;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px black;
}
section > h1{
    font-size: 50px;
    color: #34051B;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/*aside #aside{
    text-justify: auto;
    position: relative;
    width: 200px;
    color: #FBFAFF;
    text-align: center;
    left: 70%;*
}*/
section div .paiservico{
    text-align: center;
    flex-flow: row wrap;
}
div.serv{
    text-align: center;
    background-color: #FBFAFF;
    height: 10px;
    width: 20px;
    margin: 15px;
    padding: 30px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.233);
}



aside{
    display: flex;
    flex-flow: row nowrap;
    background-size: cover;
    background-attachment: fixed;
}
aside > h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.322);
    padding-top: 40px;
    font-size: 3em;
    text-align: center;
    color: #AB5B6D;
}

aside  img{
    flex-basis: 50px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 30px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    columns: 2;
}
footer{
    line-height: 2;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-top: 50px;
    height: 200px;
    color: #FBFAFF;
    background-color: #34051B;
}
p img{
    height: 20px;
}
a:hover{ 

}




